{{> head }}
{{> navbar }}

<div class="row">

	<div class="col-8">
		<h1>testoh wonitoh</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis id earum inventore ipsum porro non, adipisci delectus praesentium nemo eveniet corrupti unde rerum facilis recusandae, ratione maxime consectetur! Ab, itaque.</p>
	</div>

	<div class="col-4">
		<img src="assets/img/choppy.jpg" alt="" class="img-thumbnail">
	</div>
</div>

{{> footer}}